#game-window{
	background-color: green;
	position: relative;
	overflow: hidden;
}
#background{
	width: 10000px;
	height: 400px;
	background: url(../images/background.jpg);
	background-repeat: repeat-x;
}
#player{
	background: red;
	position: absolute;
}
