#game-window{
	position: relative;
	overflow: hidden;
}
#background{
	width: 15000px;
	height: 400px;
	background: url(../images/background.jpg);
	background-repeat: repeat-x;
}
#player{
	background: red;
	position: absolute;
}
.building{
	background: url(../images/wall.png);
}
#city{
	margin-left: 1px;
	position: absolute;
}